*{
    padding: 0;
    margin: 0;
}

.nav-inner{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-outer{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

.ul-list{
    display: flex;
    margin-left: 15px;
}

li{
    margin-left: 15px;
}